# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
venv/
env/
*.log

# Flask / instance folder
instance/
*.egg-info
*.DS_Store

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Archivos y carpetas
data
schema.sql
scripts
secrets
token.json